@keyframes jump {
    0% {
        transform: translateY(0);
        box-shadow: 0 3px 3px black;
    }
    50% {
        transform: translateY(-20px);
        box-shadow: 0 10px 18px 3px rgb(0 0 0 / 30%);
    }
    100% {
        transform: translateY(0);
        box-shadow: 0 3px 3px black;
    }
}

@keyframes grow2x {
    from {
        transform:scale(1);
    }

    to{
        transform:scale(2);
    }
}