@keyframes pulseArticleBtn {
    0% {
        transform: scale(1);
        background-color: rgb(86, 100, 142, .5);
    }
    50% {
        transform: scale(1.1);
        background-color: rgb(58, 130, 43);
    }
    100% {
        transform: scale(1);
        background-color: rgb(86, 100, 142, .5);
    }
}

@keyframes wave {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes listBlink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes heartFade {
    0% {
        color: rgb(179, 43, 43);
        opacity: 0;
    }
    50% {
        color: rgb(201, 10, 10);
        opacity: 1;
    }
    100% {
        color: rgb(179, 43, 43);
        opacity: 0;
    }
}