* {
    border:0;
    margin:0;
    padding:0;
}

body {
    font-family: 'Forum', cursive;
    font-size: 12pt;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > p {
    background-color: rgb(255, 169, 41);
    padding: 5px;
}