@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url(./animations.css);

*{
	border:0;
	margin:0;
	padding:0;
}

main {
	width:100vw;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color: #444;
    font-family: 'ubuntu', sans;;
}

section {
    width: 98%;
    height: 100%;
    background-color: #333;
    transition: all 1s ease-in-out;
    position: relative;
    padding: 2px;
    overflow: hidden;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "about"
        "projects"
        "skills"
        "articles"
        "social";
}

.box {
	cursor:pointer;
	transition: all .5s ease;
	border-radius:3px;
	overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about {
    background-color: rgb(21, 133, 65);
    grid-area: about;
    grid-column: 1/5;
    grid-row: 1/2;
    background-image: url("https://clsimplex.com/images/releases/headers/quality-code.jpg");
    background-size: cover;
}

#projects{
    background-color: rgb(55, 80, 58);
    grid-area: projects;
    grid-column: 1/3;
    grid-row: 2/3;
    background-image: url("https://image.freepik.com/vetores-gratis/papel-de-parede-abstrato-geometrico-do-fundo-do-poligono-capa-do-cabecalho-com-forma-de-triangulo-azul-polly-baixo_206846-1173.jpg");
    background-size: cover;
}

#skills{
    background-color: rgb(85, 102, 11);
    grid-area: skills;
    grid-column: 3/5;
    grid-row: 2/4;
    background-image: url("https://images.assetsdelivery.com/compings_v2/annaleni/annaleni1612/annaleni161200085.jpg");
}

#articles{
    background-color: rgb(101, 58, 118);
    grid-area: articles;
    grid-column: 1/3;
    grid-row: 3/5;
    background-image: url("https://image.freepik.com/vetores-gratis/fundo-do-codigo-de-programacao_46706-811.jpg");
    background-size: cover;
}

#social{
    background-color: rgb(165, 22, 22);
    grid-area: social;
    grid-column: 3/5;
    grid-row: 4/5;
    background-image: url("https://media.istockphoto.com/vectors/vector-illustration-of-an-abstract-social-network-scheme-which-to-vector-id938708298?s=612x612");
    background-size: cover;
    background-position-x: center;
}

.about {
    display: none;
}

.projects {
    display: none;
}

.skills {
    display: none;
}

.articles {
    display: none;
}

.social {
    display: none;
}

.fullScreen {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    overflow-y: auto;
    background-color: rgb(68 68 68 / 50%);
}

h1.title {
    width: 100%;
    font-family: 'Ubuntu';
    font-weight: 300;
    color: white;
    padding: 10px;
    text-align: center;
}

#titleAbout {
    font-weight: 700;
    border-bottom: 1px solid white;
}

#titleSocial {
    font-weight: 400;
    color: black;
}

.bio_wrapper {
    width: inherit;
    height: 132vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img#avatar2 {
    max-width: 250px;
    border-radius: 100%;
    box-shadow: -2px 5px 10px 0px #212121;
    border: 10px solid rgb(20 20 20 / 80%);
}

p.bio_text {
    max-width: 250px;
    padding: 15px;
    background-color: rgb(21 21 21 / 85%);
    margin: 15px 0;
    border-radius: 5px;
    color: white;
    font-family: 'ubuntu';
    font-weight: 300;
}

article.projects_article {
    max-width: 260px;
    background-color: #111;
    border-radius: 10px;
    height: max-content;
    padding-bottom: 10px;
    box-shadow: -5px 9px 20px 5px #0e1017;
    border: solid 1px #252525;
}

header.projects_article_header {
    padding: 10px;
    text-align: center;
    color: rgb(96 138 101);
    font-family: 'Ubuntu Condensed';
    font-weight: 100;
}

img.projects_article_thumb {
    width: 100%;
}

p.projects_article_description {
    padding: 8px;
    font-family: 'ubuntu condensed';
    font-weight: 300;
    color: #ccc;
}

.projects_article_footer {
    display: flex;
    justify-content: space-between;
}

p.projects_article_footer_date {
    padding-left: 8px;
    font-size: 10pt;
    color: #ccc;
    font-family: 'Ubuntu Mono';
}

.projects_article_footer > a {
    margin-right: 8px;
    background-color: rgb(55, 80, 58);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    animation: pulse 2s ease-in-out infinite;
}

.projects_article_footer > a > #iconLink {
    fill: black;
}

.active {
    width: 100%;
    height: 100%;
	cursor: default;
}

#btnClose {
    border-radius: 100%;
    z-index: 5;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    transform: translatex(140px);
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 7px 1px rgb(21, 20, 20);
}

img#btnBackImg {
    width: 32px;
    height: 32px;
}

#btnClose.appear {
	transform: translatex(0px);
}